<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>bundleid</key>
    <string>ca.alexlockhart.id</string>
    <key>category</key>
    <string>Tools</string>
    <key>connections</key>
    <dict>
      <key>DCF36899-E5A7-4B96-A213-FFFB49241C4B</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>45EDFC6B-9BD4-408A-B19C-49B7F28C6B12</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
    </dict>
    <key>createdby</key>
    <string/>
    <key>description</key>
    <string>Generate IDs using Alfred</string>
    <key>disabled</key>
    <false/>
    <key>name</key>
    <string>id</string>
    <key>objects</key>
    <array>
      <dict>
        <key>config</key>
        <dict>
          <key>autopaste</key>
          <false/>
          <key>clipboardtext</key>
          <string>{query}</string>
          <key>transient</key>
          <false/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.output.clipboard</string>
        <key>uid</key>
        <string>45EDFC6B-9BD4-408A-B19C-49B7F28C6B12</string>
        <key>version</key>
        <integer>2</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>alfredfiltersresults</key>
          <false/>
          <key>alfredfiltersresultsmatchmode</key>
          <integer>0</integer>
          <key>argumenttrimmode</key>
          <integer>0</integer>
          <key>argumenttype</key>
          <integer>2</integer>
          <key>escaping</key>
          <integer>102</integer>
          <key>keyword</key>
          <string>id</string>
          <key>queuedelaycustom</key>
          <integer>3</integer>
          <key>queuedelayimmediatelyinitially</key>
          <true/>
          <key>queuedelaymode</key>
          <integer>0</integer>
          <key>queuemode</key>
          <integer>2</integer>
          <key>runningsubtext</key>
          <string>Searching...</string>
          <key>script</key>
          <string>./node_modules/.bin/run-node index.js "$1"</string>
          <key>scriptargtype</key>
          <integer>1</integer>
          <key>scriptfile</key>
          <string>index.js</string>
          <key>subtext</key>
          <string/>
          <key>title</key>
          <string>Generate IDs</string>
          <key>type</key>
          <integer>0</integer>
          <key>withspace</key>
          <false/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.input.scriptfilter</string>
        <key>uid</key>
        <string>DCF36899-E5A7-4B96-A213-FFFB49241C4B</string>
        <key>version</key>
        <integer>2</integer>
      </dict>
    </array>
    <key>readme</key>
    <string/>
    <key>uidata</key>
    <dict>
      <key>45EDFC6B-9BD4-408A-B19C-49B7F28C6B12</key>
      <dict>
        <key>xpos</key>
        <integer>150</integer>
        <key>ypos</key>
        <integer>10</integer>
      </dict>
      <key>DCF36899-E5A7-4B96-A213-FFFB49241C4B</key>
      <dict>
        <key>xpos</key>
        <integer>10</integer>
        <key>ypos</key>
        <integer>10</integer>
      </dict>
    </dict>
    <key>version</key>
    <string>1.0.0</string>
    <key>webaddress</key>
    <string>https://github.com/salockhart/alfred-id#readme</string>
  </dict>
</plist>